container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_staticfiles:
    command: "django-admin.py collectstatic"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: Project4U.wsgi:application


